@import "tailwindcss";

/* Pastikan tidak ada script lain di atas @import ini */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}